

.navbar-container {
  background-color: #2c0e3a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
@media screen and (min-width: 768px) {
  .navbar-container {
    padding: 10px 80px;
  }
}
.website-logo {
  width: 130px;
}
@media screen and (min-width: 768px) {
  .website-logo{
      width: 150px;
  }
}
.nav-items-container {
  display: flex;
  align-items: center;
  gap: 20px;
  /* border: 1px solid white; */
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
@media screen and (min-width: 768px){
    .nav-items-container{
        gap: 35px;
    }
}
.score-text {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 18px;
}
@media screen and (min-width: 768px){
    .score-text{
        font-size: 22px;
    }
}
.score-span {
  color: #fec653;
}
.timer-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.timer-icon {
  width: 25px;
  height: 25px;
}
@media screen and (min-width: 768px){
    .timer-icon{
        width: 28px;
        height: 28px;
    }
}
.timer-text {
  color: #fec653;
  font-family: 'Roboto';
  font-size: 18px;
}
@media screen and (min-width: 768px){
    .timer-text{
        font-size: 22px;
    }
}
